body {
    background-color: #ca0404;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.message-container {
    display: inline-block;
    max-width: 100%;
    word-break: break-word;
    white-space: pre-wrap;
    transition: width 0.5s, height 0.5s;
}

.typing {
    display: inline-block;
    border-right: 3px solid;
    animation: blink-caret .75s step-end infinite;
}

@keyframes blink-caret {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: transparent;
    }
}

.chat {
    background: #fcfcfc;
    transition: .5s;
    border: 0;
    border-radius: .55rem;
    position: relative;
    width: 90vw;
    height: 80vh;
    box-shadow: 0 0 50px 0 rgb(0 0 0 / 75%);
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.chat .chat-header {
    padding: 15px 20px;
    box-shadow: 0 5px 25px 0 rgb(0 0 0 / 30%);
}

.chat .chat-history {
    flex: 1;
    height: calc(100% - 150px);
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #c1c1c1 #f9f9f9;
    padding: 20px;
    border-bottom: 2px solid #fff;
}

.chat .chat-history::-webkit-scrollbar {
    width: 8px;
}

.chat .chat-history::-webkit-scrollbar-track {
    background: #f9f9f9;
}

.chat .chat-history::-webkit-scrollbar-thumb {
    background-color: #c1c1c1;
    border-radius: 10px;
    border: 2px solid #f9f9f9;
}

.chat .chat-history .message-data {
    margin-bottom: 15px;
}

.chat .chat-history .message-data-time {
    color: #434651;
    padding-left: 6px;
}

.chat .chat-history .message {
    color: #444;
    padding: 18px 20px;
    line-height: 26px;
    font-size: 16px;
    border-radius: 7px;
    display: inline-block;
    position: relative;
}

.chat .chat-history .message:after {
    bottom: 100%;
    left: 7%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #fff;
    border-width: 10px;
    margin-left: -20px;
}

.chat .chat-history .my-message {
    background: #dd9c9c;
}

.chat .chat-history .my-message:after {
    bottom: 100%;
    left: 30px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #dd9c9c;
    border-width: 10px;
    margin-left: -10px;
}

.chat .chat-history .other-message {
    background: #efefef;
    text-align: right;
}

.chat .chat-history .other-message:after {
    border-bottom-color: #efefef;
    left: 93%;
}

.chat .chat-message {
    padding: 0.5rem;
    border-top: 2px solid #ddd;
}

#messageArea {
    display: flex; /* Menggunakan flexbox untuk form */
    align-items: center;
}

#text {
    flex: 1; /* Mengatur input agar mengambil sisa ruang */
    border-radius: 0.25rem;
    border: 1px solid #ddd;
    padding: 10px;
}

.input-group-prepend {
    margin-left: 10px; /* Jarak antara input dan tombol kirim */
}

.float-right {
    float: right;
}

@media only screen and (max-width: 767px) {
    .chat {
        width: 95vw; 
        margin-top: 0;
        margin-bottom: 0;
    }
    .chat .chat-header {
        border-radius: 0.55rem 0.55rem 0 0
    }
    .chat-history {
        height: 400px;
    }
    .chat .chat-message {
        padding: 10px
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .chat-list {
        height: 650px;
        overflow-x: auto
    }
    .chat-history {
        height: 600px;
        overflow-x: auto
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
    .chat-list {
        height: 480px;
        overflow-x: auto
    }
    .chat-history {
        height: calc(100vh - 350px);
        overflow-x: auto
    }
}
